.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    &__input:focus {
        border-bottom: 1px solid #ee6e73 !important;
        box-shadow: 0 1px 0 0 #ee6e73 !important;
    }
}
label.auth__input.active {
    color: #ee6e73 !important;
}